.cell
  width: 30px
  line-height: 20px
  font-size: 8px
  text-align: center
  vertical-align: middle

.f8
  font-size: 8px

.g80
  background-color: #008000
.g60
  background-color: #408800
.g40
  background-color: #409900
.g20
  background-color: #60BB00
.g10
  background-color: #80DD00
.g08
  background-color: #88EE00
.g06
  background-color: #99FF00
.g04
  background-color: #AAFF00
.g02
  background-color: #CCFF00
.g01
  background-color: #FFFF00

.r20
  background-color: #FF0000
.r15
  background-color: #FF1100
.r12
  background-color: #FF2200
.r10
  background-color: #FF3300
.r08
  background-color: #FF4400
.r06
  background-color: #FF5500
.r05
  background-color: #FF6600
.r04
  background-color: #FF8800
.r03
  background-color: #FFAA00
.r02
  background-color: #FFCC00
.r01
  background-color: #FFDD00
.z
  background-color: #CCCCCC